<div class="container">
  <div class="row">
    <hr />
    <div class="col-sm-12">
      <p>Example of interpolation,ngIf,ngTemplate,ngStyle,ngClass directive</p>
      <!-- ngIf is a structural directive, means it modified dom dynamically. hence the * before the directive name -->
      <!-- ngStyle aims at resolving some css styles at runtime. values of the style are to fetched from the ts properties or functions -->
      <!-- ngClass aims at resolving the css class to be applied at runtime. boolean decides of the class is applied or not at runtime -->
      <p
        *ngIf="title.length > 0; else ifTitleIsEmpty"
        [ngStyle]="{ backgroundColor: color }"
        [ngClass]="{ someClass: toggleColor }"
      >
        App Component Works with title: <strong>{{ title }}</strong>
      </p>

      <!-- Template to replace the above paragraph if title is empty. ngTemplate is internal angular structure -->
      <ng-template #ifTitleIsEmpty>
        <p [ngStyle]="{ backgroundColor: color }">
          App Component Works without title
        </p>
      </ng-template>
    </div>
    <hr />

    <!-- Example of input event binding -->
    <div class="col-sm-12">
      <p>Example of event binding</p>
      <input (input)="onInputChange($event)" />
    </div>
    <hr />

    <!-- example of two way binding with ngModel directive -->
    <div class="col-sm-12">
      <p>example of two way binding with ngModel directive</p>
      <input [(ngModel)]="title" />
    </div>
    <hr />

    <!-- example of property and button event binding -->
    <div class="col-sm-12">
      <p>example of property and button event binding</p>
      <button
        class="btn btn-primary"
        [disabled]="title.length == 0"
        (click)="resetTitleOnClick()"
      >
        Reset Title
      </button>
      <span>&nbsp;</span>
      <button class="btn btn-primary" (click)="resetColorOnClick()">
        Change Color
      </button>
    </div>
  </div>
  <hr />
  <div class="col-sm-12">
    <app-success></app-success>
    <app-warning></app-warning>
  </div>
  <hr />
  <hr />
  <div class="row">
    <div class="col-sm-12">
      <p>ngFor Directive</p>
      <button class="btn btn-primary" (click)="addWarning()">
        Add Warning component
      </button>
      <span>&nbsp;</span>
      <button class="btn btn-primary" (click)="addSuccess()">
        Add Success component
      </button>
    </div>
    <div class="col-sm-12">
      <app-success *ngFor="let element of successMessages"></app-success>
      <app-warning *ngFor="let element of warningMessages"></app-warning>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-12">
      <p>ngFor Directive Assignment</p>
      <button class="btn btn-primary" (click)="toggleDisplayMessage()">
        Display secret Text
      </button>
    </div>
    <div class="col-sm-12">
      <p *ngIf="isMessageToBeDisplayed">Secret Text: tuna</p>
      <p
        *ngFor="let element of timestampLog; let i = index"
        [ngClass]="{ someClass: i >= 4 }"
      >
        Message toggled at : {{ element }}
      </p>
    </div>
  </div>
</div>
